@charset "UTF-8";
	body h2 {
		margin-left: 20px;
	}
	.login1 {
		width: 500px;
		border: 1px solid gray;		
		margin: 40px;
		padding: 40px;
		
	}
	.login1 #id {
		width: 400px;
		
		padding: 4px;
	}
	.login1 #id input {
		
		margin-left: 30px;
	}
	.login1 #pw {		
		
		padding: 4px;
	}
	.login1 #pw input {
		
		margin-left: 52px;
	}
	.login1 #login_Bt {
		text-align: right;
		margin-top: -50px;
		margin-right: 120px;
	}
	.login1 #login_Bt input {	
		margin-left: 5px;
		padding: 12px;
		border: 1px solid white;
		background-color: #A5DF00;
		color: white; 
	}
	.login1 #login_Ck {
		margin-top: 10px;
	}
	.login2 {
		border: 1px solid gray;
		font-size: 13px;
		background-color: #F2F2F2;
		width: 500px;	
		margin: 40px;
		padding: 40px;
		margin-top: -50px; 
		
	}
	.login2 h3 {
		margin-top: -20px;
		margin-left: -30px;
	}
	.login2 p {
		margin-top: -20px;
		margin-left: -30px;
	}
	.login2 form {
		margin-top: 10px;
		margin-left: 250px; 
		
	}
	.login2 #idpw_bt {
		border: 1px solid white;
		background-color: #A5DF00;
		text-decoration:none;
		padding: 5px;
		color: white;
	}
	.login2 #signup {
		border: 1px solid #BFFF00;
		background-color: white;
		color: #80FF00;
		padding: 5px;
	}
	body #mainback {
		margin-left: 220px;
		text-decoration: none;
		color: black;
	}
	body #em2 {
		border-top: 1px solid gray;
		margin-left: 20px;
		padding-top: 15px;
	}
	#email1 {
		margin-left: 20px;
		font-size: 19px;
	}
	#email1 input {
		width: 500px;
		height: 30px;
	}
	.button {
		margin-top: 40px;
		margin-left: 250px;
	}
	.button #Confirm {
		margin-left: 5px;
		padding: 12px;
		width: 150px;
		border: 1px solid white;
		background-color: #A5DF00;
		color: white; 
	}
	.button #close {
		margin-left: 5px;
		padding: 12px;
		width: 100px;
		border: 1px solid white;
		background-color: #0B3B39;
		color: white;
	}
	body #tm2 {
		color: red;
		text-align: center;
	}
	body #tm3,#tm5 {
		text-align: center;
	}
	body #tm4,#tm6 {
		border: 1px solid black;
		width: 1300px;
		height: 300px;
		background-color: #D8D8D8;
		margin-left: 10px;
	}
	#terms_Ck,#terms_Ck2 {
		text-align: right;
	}
	#signup3 {
		text-align: center;		
	}
	#signup3 input {
		margin-left: 5px;
		padding: 12px;
		border: 1px solid white;
		background-color: #A5DF00;
		color: white; 
	}
	.button3 {
		text-align: right;
		margin-top: -50px;
		margin-right: 10px;
	}
	.button3 #notebox {
		border: 1px solid #BFFF00;
		background-color: white;
		color: #80FF00;
		padding: 6px;
		text-decoration: none;
		font-size: 13px;
	}
	.button3 #Revise {
		border: 1px solid #BFFF00;
		background-color: white;
		color: #80FF00;
		padding: 6px;
	}
	.button3 #secession {
		border: 1px solid white;
		background-color: #A5DF00;
		color: white;
		padding: 6px;
	}
	.Profile111 {
		border: 1px solid gray;
		border-collapse: collapse;
		margin-top: 15px;
		width: 100%;
		height: 150px;
		background-color: #F1F8E0;
	}
	.Profile111 #Profile112 {
		border-bottom: 1px solid gray;
	} 
	.Profile2 {
		border-top: 3px solid black;
		width: 100%;
		background-color: #F2F2F2;
		height: 50px;
		border-bottom: 1px solid gray;
		margin-top: 20px;
	}
	#hh3 {
		margin-left: 10px;
	}
	.Contents {
		text-align: center;
		margin-top: 100px;
		border-bottom: 1px solid gray;
		height: 100px;
	}
	.menu1 ul {
		background-color: #585858;
		height: 50px;
		margin: 0;
		padding: 0;
		list-style: none;
		
	}
	.menu1 li {
		float: left;
		border-right: 1px solid #2E2EFE;
	}
	.menu1 li a {		
		padding-left: 10px;	
		color: white;
		text-decoration: none;
		display: block;
		text-align: center;
		padding: 14px 16px;
	}
	.menu1 #a1 {
		border-left: 1px solid #2E2EFE;
		margin-left: 10px;
	}
	.guide {
		text-align: left;
	}
	.button2 {
		text-align: center;
	}
	.button2 #close2 {
		text-align: center;
		padding: 10px;
		width: 80px;
		border: 1px solid white;
		background-color: #0B4C5F;
		color: white;
	}
	.Profile3 {
		border-top: 3px solid black;
		width: 100%;
		height: 50px;
		margin-top: 20px;
	}
	.Profile3 #id12 {
		margin-top: 20px;
		padding-left:10px;
		padding-top: 10px;
		text-align: left;
		width: 200px;
		background-color: #F2F2F2;
		height: 60px;
	}
	.Profile3 input {
		background-color: #F2F2F2;
		margin-left: 15px;
		margin-top: 10px;
		padding-top: 10px;
		border: 1px solid gray;
		width: 500px;
		text-align: left;
	}
	.Profile3 p {
		font-size: 13px;
		margin-left: 15px;

	}
	.Profile4 {
		border-top: 1px solid gray;
		border-bottom: 1px solid gray;
		width: 100%;
		height: 50px;
	}
	.Profile4 #id13 {
		margin-top: 20px;
		padding-left:10px;
		padding-top: 10px;
		text-align: left;
		width: 200px;
		background-color: #F2F2F2;
		height: 200px;
	}
	.Profile4 #ucontent {
		background-color: #F2F2F2;
		margin-left: 15px;
		margin-top: 10px;
		padding-top: 10px;
		border: 1px solid gray;
		width: 700px;
		height: 200px;
		text-align: left;
	}
	.button12 {
		margin-top: 40px;
		text-align: center;
	}
	.button12 #Confirm12 {
		margin-left: 5px;
		padding: 12px;
		width: 150px;
		border: 1px solid white;
		background-color: #A5DF00;
		color: white; 
	}
	.button12 #close12 {
		margin-left: 5px;
		padding: 12px;
		width: 100px;
		border: 1px solid white;
		background-color: #0B3B39;
		color: white;
	}





